{
	"NOTE": "ROLLUP STOPPED READING THIS FILE, NOW COPY-PASTED ALL OVER THE PLACE!"
	"presets": [
		["@babel/env", {
			"modules": false,
			"targets": {
				"firefox": 53,
				"chrome": 59,
				"safari": 10,
				"edge": 15
			}
		}]
	],
	"plugins": [
		["@babel/plugin-proposal-decorators", { "legacy": true }],
		["@babel/plugin-proposal-class-properties", { "loose": true }],
		["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }],
		["@babel/plugin-proposal-do-expressions"]
	]
}
